body {
  font-family: -apple-system, BlinkMacSystemFont, "Microsoft JhengHei", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: justify;
  text-justify: auto;
  background-color: $gray-900;
}

.wrapper {
  min-width: 1024px;
}


// headerr

// input
.addData input {
    height: 40px;
    background-color: rgba(255, 255, 255, 0.18);
    border: 2px solid $primary;
    border-radius: 10px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.50);
    margin-bottom: 23px;
    padding-left: 16px;
    &:focus {
      outline: none;
    }
}

// btn
.result {
  width: 120px;
  height: 120px;
  line-height: 120px;
  position: relative;
  transform: translate(5px,5px);
  transition: 0.3s;
  cursor: pointer;
  &:after {
    content: '';
    color: $white;
    display: block;
    position: absolute;
    top: 0;
    left: 140px;
  }
  &:hover {
    box-shadow: 0 1px 6px 3px rgba(255, 195, 49, 0.64);
    > .loop {
    animation: loading 1s 1 linear;
    }
  }
  &:active {
    background-color: #DEA921;
  }
}

@-webkit-keyframes loading {
	from {
		-webkit-transform: rotate(360deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}
@-moz-keyframes loading {
	from {
		-moz-transform: rotate(360deg);
	}
	to {
		-moz-transform: rotate(0deg);
	}
}
@-o-keyframes loading {
	from {
		-o-transform: rotate(360deg);
	}
	to {
		-o-transform: rotate(0deg);
	}
}
@keyframes loading {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

//  各式狀態按鈕
.ideal {
    border: 6px solid $ideal;
    padding-top: 36px;
    font-size: 32px;
    color: $ideal;
    text-align: center;
    line-height: 20px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        box-shadow: 0 1px 6px 3px rgba( $ideal, .64 );
    }
    &:active {
        background-color: $ideal;
    }
    p {
        display: block;
        margin: auto 0;
        padding-top: 20px;
    }
    span {
        font-size: 14px;
    }
    .loop {
        width: 30px;
        height: 30px;
        display: block;
        background-image: url(../images/icons_loop.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $ideal;
        border: 3px solid #424242;
        border-radius: 30px;
        position: absolute;
        top: 80px;
        left: 80px;
    }
}

.toolight {
    border: 6px solid $toolight;
    padding-top: 36px;
    font-size: 32px;
    color: $toolight;
    text-align: center;
    line-height: 20px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        box-shadow: 0 1px 6px 3px rgba( $toolight, .64 );
    }
    &:active {
        background-color: $toolight;
    }
    p {
        display: block;
        margin: auto 0;
        padding-top: 20px;
    }
    span {
        font-size: 14px;
    }
    .loop {
        width: 30px;
        height: 30px;
        display: block;
        background-image: url(../images/icons_loop.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $toolight;
        border: 3px solid #424242;
        border-radius: 30px;
        position: absolute;
        top: 80px;
        left: 80px;
    }
}
.over {
    border: 6px solid $over;
    padding-top: 36px;
    font-size: 32px;
    color: $over;
    text-align: center;
    line-height: 20px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        box-shadow: 0 1px 6px 3px rgba( $over, .64 );
    }
    &:active {
        background-color: $over;
    }
    p {
        display: block;
        margin: auto 0;
        padding-top: 20px;
    }
    span {
        font-size: 14px;
    }
    .loop {
        width: 30px;
        height: 30px;
        display: block;
        background-image: url(../images/icons_loop.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $over;
        border: 3px solid #424242;
        border-radius: 30px;
        position: absolute;
        top: 80px;
        left: 80px;
    }
}
.medium {
    border: 6px solid $medium;
    padding-top: 36px;
    font-size: 32px;
    color: $medium;
    text-align: center;
    line-height: 20px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        box-shadow: 0 1px 6px 3px rgba( $medium, .64 );
    }
    &:active {
        background-color: $medium;
    }
    p {
        display: block;
        margin: auto 0;
        padding-top: 20px;
    }
    span {
        font-size: 14px;
    }
    .loop {
        width: 30px;
        height: 30px;
        display: block;
        background-image: url(../images/icons_loop.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $medium;
        border: 3px solid #424242;
        border-radius: 30px;
        position: absolute;
        top: 80px;
        left: 80px;
    }
}
.heavy {
    border: 6px solid $heavy;
    padding-top: 36px;
    font-size: 32px;
    color: $heavy;
    text-align: center;
    line-height: 20px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
        box-shadow: 0 1px 6px 3px rgba( $heavy, .64 );
    }
    &:active {
        background-color: $heavy;
    }
    p {
        display: block;
        margin: auto 0;
        padding-top: 20px;
    }
    span {
        font-size: 14px;
    }
    .loop {
        width: 30px;
        height: 30px;
        display: block;
        background-image: url(../images/icons_loop.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-color: $heavy;
        border: 3px solid #424242;
        border-radius: 30px;
        position: absolute;
        top: 80px;
        left: 80px;
    }
}

.result-text {
    position: absolute;
    // right: 7rem;
}



// mian 
ul {
  list-style: none;
}

li {
    height: 62px;
    line-height: 62px;
    position: relative;
    > p {
      font-size: 1rem;
    }
}
.txt-result {
  font-size: 1.25rem;
}

.txt-result-i ,.txt-result-l ,.txt-result-o {
    margin-right: 40px;
}
.txt-result:before {
    content: '';
    display: inline-block;
    float: left;
    width: 7px;
    height: 62px;
    margin-right: 19px;
}

.txt-result-i:before {
    background: $ideal;
    box-shadow: 2px 0 3px 0 rgba( $ideal, .29 );
}

.txt-result-l:before {
    background-color: $toolight;
    box-shadow: 2px 0 3px 0 rgba( $toolight, .29 );
}

.txt-result-o:before {
    background-color: $over;
    box-shadow: 2px 0 3px 0 rgba( $over, .29 );
}

.txt-result-m:before {
    background-color: $medium;
    box-shadow: 2px 0 3px 0 rgba($medium, .29 );
}

.txt-result-h:before {
    background-color: $heavy;
    box-shadow: 2px 0 3px 0 rgba( $heavy, .29 );
}

/*文字*/
.txt-bmi:before {
    content: 'BMI';
    display: inline-block;
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0 7px 0 30px;
    line-height: 62px;
}

.txt-kg {
    width: 145px;
}

.txt-kg:before {
    content: 'weight';
    display: inline-block;
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0 7px 0 40px;
    line-height: 62px;
}

.txt-cm:before {
    content: 'height';
    display: inline-block;
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0 7px 0 20px;
    line-height: 62px;
}

.txt-date {
    display: inline-block;
    margin-left: 52px;
    font-size: 0.75rem;
    line-height: 62px;
}